@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

@foreach (var x in Model.Bowler)
{
    <p>@x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName</p>
}

<div page-info="@Model.PageNumberingInfo" page-url-team="@Model.TeamName">

</div>